.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #23286b;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 32px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 2.4em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.bg-dark {
  background-color: #1a458f;
}

.section.hero {
  display: block;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fb5333;
}

.section.footer {
  padding-bottom: 60px;
}

.grid-3-columns {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.card-description {
  margin-bottom: 16px;
}

.bg-dark {
  background-color: #23286b;
  color: #fff;
}

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-flex.wide {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.primary-button {
  margin-top: 30px;
  margin-left: 36px;
  padding: 30px 36px 16px;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #23286b;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: #d59f00;
}

.featured-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.grid-2-columns {
  display: -ms-grid;
  display: grid;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.grid-2-columns.last {
  margin-bottom: 0px;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 52px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-label {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 1em;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #23286b;
  text-decoration: none;
}

.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
}

.call-to-action-wrapper {
  padding-right: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.pill {
  margin-bottom: 12px;
  padding: 6px 16px;
  border: 2px solid #428cfb;
  border-radius: 20px;
  color: #428cfb;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
}

.nav-link:hover {
  color: #428cfb;
}

.nav-link.w--current {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #428cfb;
}

.brand {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: #23286b;
  font-size: 1.2em;
  font-weight: 700;
}

.nav-menu {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.feature-link {
  margin-top: 20px;
  border-bottom: 2px solid #428cfb;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #428cfb;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
}

.feature-link:hover {
  border-bottom-color: #1372ff;
  color: #1372ff;
}

.lightblue {
  color: #428cfb;
}

.footer-brand {
  color: #23286b;
  font-weight: 700;
  text-decoration: none;
}

.text-block {
  font-size: 1.2em;
}

.cta {
  padding-top: 80px;
  padding-bottom: 80px;
}

.cta.bg-dark {
  background-color: #fbdb01;
}

.subfooter {
  font-size: 0.8em;
  text-align: center;
}

.div-block {
  width: 80px;
  height: 1px;
}

.heading {
  color: #fff;
  font-size: 80px;
}

.submit-button {
  background-color: #fbdb01;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.field-label {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.field-label-2 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.field-label-3 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.field-label-4 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.grid {
  grid-template-areas: ". Area-2" "Area Area-3";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.container-2 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
}

.text-block-2 {
  font-size: 48px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-flex.call-to-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .call-to-action-wrapper {
    margin-bottom: 40px;
    padding-right: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .menu-button {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translate(18px, 0px);
    -ms-transform: translate(18px, 0px);
    transform: translate(18px, 0px);
  }
  .heading {
    font-size: 55px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-flex {
    padding-right: 24px;
    padding-left: 24px;
  }
  .featured-text {
    margin-bottom: 40px;
  }
  .grid-2-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .grid-2-columns.mobile-inverted {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .footer-menu {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .brand {
    padding-left: 0px;
  }
  .footer-brand {
    margin-bottom: 20px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .subfooter {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.4em;
  }
  .section {
    padding: 80px 10px;
  }
  .grid-3-columns {
    grid-column-gap: 20px;
  }
  .footer-menu {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-label {
    margin-top: 15px;
  }
  .feature-heading {
    font-size: 2em;
    line-height: 1;
  }
  .footer-brand {
    margin-bottom: 20px;
  }
  .footer-column {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e69d73dfaa18-86042758 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-d60cd7993e10-86042758 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-d63bac9179dc-86042758 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-e69d73dfaa18-b664db59 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-d60cd7993e10-b664db59 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
  #w-node-d63bac9179dc-b664db59 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
  }
}

